body {
    margin: 0px;
    background-color: #CBCBCB;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 964px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:10px;
    top:119px;
    width:410px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:10px;
    top:162px;
    width:219px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_menu {
    background-image: url('../Notification_Settings_files/u2_menu.png');
}

.u2_menu {
    position:absolute;
    left:-3px;
    top:67px;
    width:615px;
    height:35px;
}

#u2_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:612px;
    height:32px;
}

#u3 {
    position:absolute;
    left:3px;
    top:3px;
    width:605px;
    height:25px
}

.u4_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u8_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u10_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u12_container {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u14_container {
    position:absolute;
    left:500px;
    top:0px;
    width:100px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_menu {
    background-image: url('../Notification_Settings_files/u16_menu.png');
}

.u16_menu {
    position:absolute;
    left:500px;
    top:20px;
    width:115px;
    height:95px;
}

#u16_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:92px;
}

#u17 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:85px
}

.u18_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:60px;
    width:100px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_menu {
    background-image: url('../Notification_Settings_files/u26_menu.png');
}

.u26_menu {
    position:absolute;
    left:100px;
    top:20px;
    width:115px;
    height:75px;
}

#u26_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:72px;
}

#u27 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:65px
}

.u28_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_menu {
    background-image: url('../Notification_Settings_files/u34_menu.png');
}

.u34_menu {
    position:absolute;
    left:0px;
    top:20px;
    width:115px;
    height:95px;
}

#u34_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:92px;
}

#u35 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:85px
}

.u36_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:60px;
    width:100px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_menu {
    background-image: url('../Notification_Settings_files/u44_menu.png');
}

.u44_menu {
    position:absolute;
    left:200px;
    top:20px;
    width:115px;
    height:75px;
}

#u44_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:72px;
}

#u45 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:65px
}

.u46_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:10px;
    top:19px;
    width:280px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../Notification_Settings_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:873px;
    top:10px;
    width:50px;
    height:50px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u54 {
    position:absolute;
    left:2px;
    top:9px;
    width:46px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_menu {
    background-image: url('../Notification_Settings_files/u55_menu.png');
}

.u55_menu {
    position:absolute;
    left:741px;
    top:19px;
    width:115px;
    height:35px;
}

#u55_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:32px;
}

#u56 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:25px
}

.u57_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_menu {
    background-image: url('../Notification_Settings_files/u59_menu.png');
}

.u59_menu {
    position:absolute;
    left:0px;
    top:20px;
    width:134px;
    height:75px;
}

#u59_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:72px;
}

#u60 {
    position:absolute;
    left:3px;
    top:3px;
    width:124px;
    height:65px
}

.u61_normal {
    background-image: url('../Notification_Settings_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Notification_Settings_files/u61_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:20px;
    width:119px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Notification_Settings_files/u61_normal.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:40px;
    width:119px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Notification_Settings_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:829px;
    top:32px;
    width:10px;
    height:5px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:11px;
}

.u68 {
    position:absolute;
    left:2px;
    top:-6px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../Notification_Settings_files/u67_normal.png');
}

.u69_container {
    position:absolute;
    left:933px;
    top:32px;
    width:10px;
    height:5px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:11px;
}

.u70 {
    position:absolute;
    left:2px;
    top:-6px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_menu {
    background-image: url('../Notification_Settings_files/u71_menu.png');
}

.u71_menu {
    position:absolute;
    left:641px;
    top:67px;
    width:315px;
    height:35px;
}

#u71_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:32px;
}

#u72 {
    position:absolute;
    left:3px;
    top:3px;
    width:305px;
    height:25px
}

.u73_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u75_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u77_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_menu {
    background-image: url('../Notification_Settings_files/u79_menu.png');
}

.u79_menu {
    position:absolute;
    left:0px;
    top:20px;
    width:115px;
    height:75px;
}

#u79_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:72px;
}

#u80 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:65px
}

.u81_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u81_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u83_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../Notification_Settings_files/u4_normal.png');
}

.u85_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u87 {
    position:absolute;
    left:764px;
    top:61px;
    width:201px;
    height:89px;
    overflow:hidden;
}

#pd1u87 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:89px;
    
}

#pd0u87 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:89px;
    
}

.u88_menu {
    background-image: url('../Notification_Settings_files/u88_menu.png');
}

.u88_menu {
    position:absolute;
    left:1px;
    top:-3px;
    width:165px;
    height:95px;
}

#u88_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:162px;
    height:92px;
}

#u89 {
    position:absolute;
    left:3px;
    top:3px;
    width:155px;
    height:85px
}

.u90_normal {
    background-image: url('../Notification_Settings_files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:20px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u91 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../Notification_Settings_files/u90_normal.png');
}

.u92_container {
    position:absolute;
    left:0px;
    top:20px;
    width:150px;
    height:20px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u93 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../Notification_Settings_files/u90_normal.png');
}

.u94_container {
    position:absolute;
    left:0px;
    top:40px;
    width:150px;
    height:20px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u95 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../Notification_Settings_files/u90_normal.png');
}

.u96_container {
    position:absolute;
    left:0px;
    top:60px;
    width:150px;
    height:20px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u97 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../Notification_Settings_files/u98_normal.png');
}

.u98_container {
    position:absolute;
    left:716px;
    top:28px;
    width:14px;
    height:14px;
}

#u98_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:14px;
}

.u99 {
    position:absolute;
    left:2px;
    top:-1px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../Notification_Settings_files/u101_normal.png');
}

.u101_container {
    position:absolute;
    left:0px;
    top:400px;
    width:960px;
    height:220px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:226px;
}

.u102 {
    position:absolute;
    left:2px;
    top:102px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u105_container {
    position:absolute;
    left:2px;
    top:0px;
    width:109px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:26px;
}

.u106 {
    position:absolute;
    left:3px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u108_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u108_container {
    position:absolute;
    left:2px;
    top:0px;
    width:40px;
    height:20px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u109 {
    position:absolute;
    left:3px;
    top:2px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u111_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u111_container {
    position:absolute;
    left:2px;
    top:0px;
    width:38px;
    height:20px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u112 {
    position:absolute;
    left:3px;
    top:2px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u114_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u114_container {
    position:absolute;
    left:2px;
    top:0px;
    width:72px;
    height:20px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u115 {
    position:absolute;
    left:3px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u117_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u117_container {
    position:absolute;
    left:2px;
    top:0px;
    width:55px;
    height:20px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:26px;
}

.u118 {
    position:absolute;
    left:3px;
    top:2px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u121_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u121_container {
    position:absolute;
    left:2px;
    top:0px;
    width:50px;
    height:20px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u122 {
    position:absolute;
    left:3px;
    top:2px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u124_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u124_container {
    position:absolute;
    left:2px;
    top:0px;
    width:74px;
    height:20px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:26px;
}

.u125 {
    position:absolute;
    left:3px;
    top:2px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u127_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u127_container {
    position:absolute;
    left:2px;
    top:0px;
    width:60px;
    height:20px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u128 {
    position:absolute;
    left:3px;
    top:2px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u130_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u130_container {
    position:absolute;
    left:2px;
    top:0px;
    width:27px;
    height:20px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:26px;
}

.u131 {
    position:absolute;
    left:3px;
    top:2px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u134_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u134_container {
    position:absolute;
    left:2px;
    top:0px;
    width:78px;
    height:20px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u135 {
    position:absolute;
    left:3px;
    top:2px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u137_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u137_container {
    position:absolute;
    left:2px;
    top:0px;
    width:50px;
    height:20px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u138 {
    position:absolute;
    left:3px;
    top:2px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u140_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u140_container {
    position:absolute;
    left:2px;
    top:0px;
    width:84px;
    height:20px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u141 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u143_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u143_container {
    position:absolute;
    left:2px;
    top:0px;
    width:69px;
    height:20px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:75px;
    height:26px;
}

.u144 {
    position:absolute;
    left:3px;
    top:2px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u147_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u147_container {
    position:absolute;
    left:2px;
    top:0px;
    width:54px;
    height:20px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:26px;
}

.u148 {
    position:absolute;
    left:3px;
    top:2px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u150_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u150_container {
    position:absolute;
    left:2px;
    top:0px;
    width:158px;
    height:20px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:26px;
}

.u151 {
    position:absolute;
    left:3px;
    top:2px;
    width:153px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u153_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u153_container {
    position:absolute;
    left:2px;
    top:0px;
    width:149px;
    height:20px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:26px;
}

.u154 {
    position:absolute;
    left:3px;
    top:2px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u157_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u157_container {
    position:absolute;
    left:2px;
    top:0px;
    width:58px;
    height:20px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u158 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u160_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u160_container {
    position:absolute;
    left:2px;
    top:0px;
    width:23px;
    height:20px;
}

#u160_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:29px;
    height:26px;
}

.u161 {
    position:absolute;
    left:3px;
    top:2px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u163_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u163_container {
    position:absolute;
    left:2px;
    top:0px;
    width:26px;
    height:20px;
}

#u163_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:26px;
}

.u164 {
    position:absolute;
    left:3px;
    top:2px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u166_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u166_container {
    position:absolute;
    left:2px;
    top:0px;
    width:24px;
    height:20px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:26px;
}

.u167 {
    position:absolute;
    left:3px;
    top:2px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u170 {
    position:absolute;
    left:16px;
    top:0px;
    width:201px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:16px;
    top:0px;
    width:222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:16px;
    top:0px;
    width:382px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:16px;
    top:0px;
    width:392px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:16px;
    top:0px;
    width:392px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:16px;
    top:0px;
    width:392px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:16px;
    top:0px;
    width:392px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

