body {
    margin: 0px;
    background-color: #CBCBCB;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 964px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_menu {
    background-image: url('../Edit_Profile_files/u0_menu.png');
}

.u0_menu {
    position:absolute;
    left:-3px;
    top:67px;
    width:615px;
    height:35px;
}

#u0_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:612px;
    height:32px;
}

#u1 {
    position:absolute;
    left:3px;
    top:3px;
    width:605px;
    height:25px
}

.u2_normal {
    background-image: url('../Edit_Profile_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Edit_Profile_files/u2_normal.png');
}

.u4_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Edit_Profile_files/u2_normal.png');
}

.u6_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Edit_Profile_files/u2_normal.png');
}

.u8_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Edit_Profile_files/u2_normal.png');
}

.u10_container {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Edit_Profile_files/u2_normal.png');
}

.u12_container {
    position:absolute;
    left:500px;
    top:0px;
    width:100px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:10px;
    top:19px;
    width:280px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Edit_Profile_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:873px;
    top:10px;
    width:50px;
    height:50px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u16 {
    position:absolute;
    left:2px;
    top:9px;
    width:46px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_menu {
    background-image: url('../Edit_Profile_files/u17_menu.png');
}

.u17_menu {
    position:absolute;
    left:741px;
    top:19px;
    width:115px;
    height:35px;
}

#u17_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:32px;
}

#u18 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:25px
}

.u19_normal {
    background-image: url('../Edit_Profile_files/u2_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_menu {
    background-image: url('../Edit_Profile_files/u21_menu.png');
}

.u21_menu {
    position:absolute;
    left:0px;
    top:20px;
    width:134px;
    height:75px;
}

#u21_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:131px;
    height:72px;
}

#u22 {
    position:absolute;
    left:3px;
    top:3px;
    width:124px;
    height:65px
}

.u23_normal {
    background-image: url('../Edit_Profile_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Edit_Profile_files/u23_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:20px;
    width:119px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Edit_Profile_files/u23_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:40px;
    width:119px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Edit_Profile_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:829px;
    top:32px;
    width:10px;
    height:5px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:11px;
}

.u30 {
    position:absolute;
    left:2px;
    top:-6px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Edit_Profile_files/u29_normal.png');
}

.u31_container {
    position:absolute;
    left:933px;
    top:32px;
    width:10px;
    height:5px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:11px;
}

.u32 {
    position:absolute;
    left:2px;
    top:-6px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_menu {
    background-image: url('../Edit_Profile_files/u33_menu.png');
}

.u33_menu {
    position:absolute;
    left:741px;
    top:67px;
    width:215px;
    height:35px;
}

#u33_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:32px;
}

#u34 {
    position:absolute;
    left:3px;
    top:3px;
    width:205px;
    height:25px
}

.u35_normal {
    background-image: url('../Edit_Profile_files/u2_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Edit_Profile_files/u2_normal.png');
}

.u37_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u39 {
    position:absolute;
    left:764px;
    top:61px;
    width:201px;
    height:201px;
    overflow:hidden;
}

#pd1u39 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:201px;
    
}

#pd0u39 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:201px;
    
}

.u40_menu {
    background-image: url('../Edit_Profile_files/u40_menu.png');
}

.u40_menu {
    position:absolute;
    left:1px;
    top:-3px;
    width:165px;
    height:95px;
}

#u40_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:162px;
    height:92px;
}

#u41 {
    position:absolute;
    left:3px;
    top:3px;
    width:155px;
    height:85px
}

.u42_normal {
    background-image: url('../Edit_Profile_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Edit_Profile_files/u42_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:20px;
    width:150px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Edit_Profile_files/u42_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:40px;
    width:150px;
    height:20px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Edit_Profile_files/u42_normal.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:60px;
    width:150px;
    height:20px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Edit_Profile_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:371px;
    width:960px;
    height:220px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:226px;
}

.u52 {
    position:absolute;
    left:2px;
    top:102px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u55_container {
    position:absolute;
    left:2px;
    top:0px;
    width:109px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:26px;
}

.u56 {
    position:absolute;
    left:3px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u58_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u58_container {
    position:absolute;
    left:2px;
    top:0px;
    width:40px;
    height:20px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u59 {
    position:absolute;
    left:3px;
    top:2px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u61_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u61_container {
    position:absolute;
    left:2px;
    top:0px;
    width:38px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u62 {
    position:absolute;
    left:3px;
    top:2px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u64_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u64_container {
    position:absolute;
    left:2px;
    top:0px;
    width:72px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u65 {
    position:absolute;
    left:3px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u67_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u67_container {
    position:absolute;
    left:2px;
    top:0px;
    width:55px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:26px;
}

.u68 {
    position:absolute;
    left:3px;
    top:2px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u71_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u71_container {
    position:absolute;
    left:2px;
    top:0px;
    width:50px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u72 {
    position:absolute;
    left:3px;
    top:2px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u74_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u74_container {
    position:absolute;
    left:2px;
    top:0px;
    width:74px;
    height:20px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:26px;
}

.u75 {
    position:absolute;
    left:3px;
    top:2px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u77_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u77_container {
    position:absolute;
    left:2px;
    top:0px;
    width:60px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u78 {
    position:absolute;
    left:3px;
    top:2px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u80_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u80_container {
    position:absolute;
    left:2px;
    top:0px;
    width:78px;
    height:20px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u81 {
    position:absolute;
    left:3px;
    top:2px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u84_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u84_container {
    position:absolute;
    left:2px;
    top:0px;
    width:78px;
    height:20px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u85 {
    position:absolute;
    left:3px;
    top:2px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u87_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u87_container {
    position:absolute;
    left:2px;
    top:0px;
    width:50px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u88 {
    position:absolute;
    left:3px;
    top:2px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u90_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u90_container {
    position:absolute;
    left:2px;
    top:0px;
    width:84px;
    height:20px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u91 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u93_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u93_container {
    position:absolute;
    left:2px;
    top:0px;
    width:69px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:75px;
    height:26px;
}

.u94 {
    position:absolute;
    left:3px;
    top:2px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u97_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u97_container {
    position:absolute;
    left:2px;
    top:0px;
    width:54px;
    height:20px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:26px;
}

.u98 {
    position:absolute;
    left:3px;
    top:2px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u100_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u100_container {
    position:absolute;
    left:2px;
    top:0px;
    width:158px;
    height:20px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:26px;
}

.u101 {
    position:absolute;
    left:3px;
    top:2px;
    width:153px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u103_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u103_container {
    position:absolute;
    left:2px;
    top:0px;
    width:149px;
    height:20px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:26px;
}

.u104 {
    position:absolute;
    left:3px;
    top:2px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u107_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u107_container {
    position:absolute;
    left:2px;
    top:0px;
    width:58px;
    height:20px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u108 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u110_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u110_container {
    position:absolute;
    left:2px;
    top:0px;
    width:23px;
    height:20px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:29px;
    height:26px;
}

.u111 {
    position:absolute;
    left:3px;
    top:2px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u113_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u113_container {
    position:absolute;
    left:2px;
    top:0px;
    width:26px;
    height:20px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:26px;
}

.u114 {
    position:absolute;
    left:3px;
    top:2px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u116_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u116_container {
    position:absolute;
    left:2px;
    top:0px;
    width:24px;
    height:20px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:26px;
}

.u117 {
    position:absolute;
    left:3px;
    top:2px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u119 {
    position:absolute;
    left:277px;
    top:212px;
    width:493px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

