body {
    margin: 0px;
    background-color: #CBCBCB;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Login_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:500px;
    width:960px;
    height:220px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:226px;
}

.u1 {
    position:absolute;
    left:2px;
    top:102px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u4_container {
    position:absolute;
    left:2px;
    top:0px;
    width:109px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:26px;
}

.u5 {
    position:absolute;
    left:3px;
    top:2px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u7_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u7_container {
    position:absolute;
    left:2px;
    top:0px;
    width:40px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u8 {
    position:absolute;
    left:3px;
    top:2px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u10_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u10_container {
    position:absolute;
    left:2px;
    top:0px;
    width:38px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u11 {
    position:absolute;
    left:3px;
    top:2px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u13_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u13_container {
    position:absolute;
    left:2px;
    top:0px;
    width:72px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:78px;
    height:26px;
}

.u14 {
    position:absolute;
    left:3px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u16_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u16_container {
    position:absolute;
    left:2px;
    top:0px;
    width:55px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:61px;
    height:26px;
}

.u17 {
    position:absolute;
    left:3px;
    top:2px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u20_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u20_container {
    position:absolute;
    left:2px;
    top:0px;
    width:50px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u21 {
    position:absolute;
    left:3px;
    top:2px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u23_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u23_container {
    position:absolute;
    left:2px;
    top:0px;
    width:74px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:26px;
}

.u24 {
    position:absolute;
    left:3px;
    top:2px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u26_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u26_container {
    position:absolute;
    left:2px;
    top:0px;
    width:60px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u27 {
    position:absolute;
    left:3px;
    top:2px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u29_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u29_container {
    position:absolute;
    left:2px;
    top:0px;
    width:27px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:26px;
}

.u30 {
    position:absolute;
    left:3px;
    top:2px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u33_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u33_container {
    position:absolute;
    left:2px;
    top:0px;
    width:78px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u34 {
    position:absolute;
    left:3px;
    top:2px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u36_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u36_container {
    position:absolute;
    left:2px;
    top:0px;
    width:50px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u37 {
    position:absolute;
    left:3px;
    top:2px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u39_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u39_container {
    position:absolute;
    left:2px;
    top:0px;
    width:84px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:26px;
}

.u40 {
    position:absolute;
    left:3px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u42_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u42_container {
    position:absolute;
    left:2px;
    top:0px;
    width:69px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:75px;
    height:26px;
}

.u43 {
    position:absolute;
    left:3px;
    top:2px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u46_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u46_container {
    position:absolute;
    left:2px;
    top:0px;
    width:54px;
    height:20px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:26px;
}

.u47 {
    position:absolute;
    left:3px;
    top:2px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u49_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u49_container {
    position:absolute;
    left:2px;
    top:0px;
    width:158px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:26px;
}

.u50 {
    position:absolute;
    left:3px;
    top:2px;
    width:153px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u52_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u52_container {
    position:absolute;
    left:2px;
    top:0px;
    width:149px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:26px;
}

.u53 {
    position:absolute;
    left:3px;
    top:2px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u56_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u56_container {
    position:absolute;
    left:2px;
    top:0px;
    width:58px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:26px;
}

.u57 {
    position:absolute;
    left:3px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u59_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u59_container {
    position:absolute;
    left:2px;
    top:0px;
    width:23px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:29px;
    height:26px;
}

.u60 {
    position:absolute;
    left:3px;
    top:2px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u62_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u62_container {
    position:absolute;
    left:2px;
    top:0px;
    width:26px;
    height:20px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:32px;
    height:26px;
}

.u63 {
    position:absolute;
    left:3px;
    top:2px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u65_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u65_container {
    position:absolute;
    left:2px;
    top:0px;
    width:24px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:26px;
}

.u66 {
    position:absolute;
    left:3px;
    top:2px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u68_normal {
    background-image: url('../Login_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:0px;
    top:0px;
    width:960px;
    height:60px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:66px;
}

.u69 {
    position:absolute;
    left:2px;
    top:22px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:10px;
    top:9px;
    width:330px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_image_sketch {
    background-image: url('../Login_files/u71_image_sketch.png');
    position:absolute;
    left:847px;
    top:15px;
    width:106px;
    height:31px;
}

.u71 {
    position:absolute;
    left:850px;
    top:18px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u71_text_sketch {
    color: #000000;
    font-family: 'Myriad Web Pro';
}

.u72_image_sketch {
    background-image: url('../Login_files/u72_image_sketch.png');
    position:absolute;
    left:727px;
    top:15px;
    width:106px;
    height:31px;
}

.u72 {
    position:absolute;
    left:730px;
    top:18px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u72_text_sketch {
    color: #000000;
    font-family: 'Myriad Web Pro';
}

.u74_normal {
    background-image: url('../Login_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:110px;
    top:120px;
    width:680px;
    height:300px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:686px;
    height:306px;
}

.u75 {
    position:absolute;
    left:2px;
    top:142px;
    width:676px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:230px;
    top:131px;
    width:440px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:260px;
    top:189px;
    width:140px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:260px;
    top:258px;
    width:140px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_image_sketch {
    background-image: url('../Login_files/u79_image_sketch.png');
    position:absolute;
    left:257px;
    top:351px;
    width:166px;
    height:31px;
}

.u79 {
    position:absolute;
    left:260px;
    top:354px;
    width:160px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u79_text_sketch {
    color: #000000;
    font-family: 'Myriad Web Pro';
}

.u80_image_sketch {
    background-image: url('../Login_files/u80_image_sketch.png');
    position:absolute;
    left:257px;
    top:217px;
    width:206px;
    height:36px;
}

.u80 {
    position:absolute;
    left:260px;
    top:220px;
    width:200px;
    height:30px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u80_text_sketch {
    color: #000000;
    font-family: 'Myriad Web Pro';
}

.u81_image_sketch {
    background-image: url('../Login_files/u81_image_sketch.png');
    position:absolute;
    left:257px;
    top:286px;
    width:206px;
    height:36px;
}

.u81 {
    position:absolute;
    left:260px;
    top:289px;
    width:200px;
    height:30px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u81_text_sketch {
    color: #000000;
    font-family: 'Myriad Web Pro';
}

.u82_image_sketch {
    background-image: url('../Login_files/u82_image_sketch.png');
    position:absolute;
    left:587px;
    top:217px;
    width:146px;
    height:31px;
}

.u82 {
    position:absolute;
    left:590px;
    top:220px;
    width:140px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u82_text_sketch {
    color: #000000;
    font-family: 'Myriad Web Pro';
}

.u83_image_sketch {
    background-image: url('../Login_files/u83_image_sketch.png');
    position:absolute;
    left:587px;
    top:251px;
    width:146px;
    height:31px;
}

.u83 {
    position:absolute;
    left:590px;
    top:254px;
    width:140px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u83_text_sketch {
    color: #000000;
    font-family: 'Myriad Web Pro';
}

.u84_image_sketch {
    background-image: url('../Login_files/u84_image_sketch.png');
    position:absolute;
    left:587px;
    top:286px;
    width:146px;
    height:31px;
}

.u84 {
    position:absolute;
    left:590px;
    top:289px;
    width:140px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u84_text_sketch {
    color: #000000;
    font-family: 'Myriad Web Pro';
}

